---
import Layout from '../layouts/Layout.astro';
import Counter from '../ui/components/Counter.tsx';
import MyCustomProvider from '../components/MyCustomProvider.tsx';
import SmartHydration from '../components/SmartHydration.tsx';
import { Button } from '@mui/material';
---

<Layout>
  <main>
    <h1>Dashboard de Hidrataci贸n</h1>

    <MyCustomProvider client:load>
      <section>
        <h2>Secci贸n SSR + MUI</h2>
        <Button variant="contained" color="secondary">Bot贸n SSR</Button>
      </section>
    </MyCustomProvider>

    <section style="margin-top: 80vh;">
      <h2>Hidrataci贸n Visible</h2>
      <Counter client:visible />
    </section>

    <SmartHydration client:load threshold={3000}>
      <section>
        <h2>Smart Hydration</h2>
        <Counter />
      </section>
    </SmartHydration>
  </main>
</Layout>
