---
<<<<<<< HEAD
import BaseLayout from '../layouts/BaseLayout.astro';
import HomePage from '../ui/components/HomePage';
---

<BaseLayout title="LeetCode SPA" description="Interactive coding practice platform">
  <HomePage client:load />
</BaseLayout>
=======
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <h1>Bienvenido a Astro + React Lab</h1>
    <p>Página principal del laboratorio.</p>
  </main>
</Layout>
>>>>>>> 11550d62 (LAB3)
