---
import Layout from '../layouts/Layout.astro';

import DashboardPage from './DashboardPage/DashboardPage';
---

<Layout>
  <main>
    <DashboardPage client:load>
      <DashboardPage />
    </DashboardPage>
  </main>
</Layout>
