---
import Layout from '../layouts/Layout.astro';
import SSRMuiProvider from '../style-library/SSRMuiProvider.tsx';
import MuiExample from '../style-library/stories/MuiExample.tsx';

---

<Layout>
	<main>
		<SSRMuiProvider client:only="react">
			<MuiExample />
		</SSRMuiProvider>
	</main>
</Layout>

<style>
	main {
		margin: 0;
		padding: 0;
		min-height: 100vh;
	}
</style>