---
import Layout from '../layouts/Layout.astro';
import SSRMuiProvider from '../style-library/SSRMuiProvider.tsx';
import MuiExampleComponent from '../style-library/stories/MuiExample.tsx';
---

<Layout>
	<main>
		<SSRMuiProvider client:load>
			<MuiExampleComponent />
		</SSRMuiProvider>
	</main>
</Layout>