---
import Layout from '../layouts/Layout.astro';
import SSRMuiProvider from '../style-library/SSRMuiProvider.tsx';
import SimpleMuiExample from '../style-library/stories/SimpleMuiExample.tsx';
---

<Layout>
	<main>
		<SSRMuiProvider client:load>
			<SimpleMuiExample />
		</SSRMuiProvider>
	</main>
</Layout>