---
import Layout from '../layouts/Layout.astro';
import MyCustomProvider from '../component-catalog/MyCustomProvider';
import SmartHydrationComponent from '../component-catalog/SmartHydration';
---

<Layout>
  <main>
    <h1>Hidratación Inteligente</h1>

    <MyCustomProvider mode="ssr" client:load>
      <SmartHydration threshold={500} />
    </MyCustomProvider>

    <MyCustomProvider mode="client-only" client:idle>
      <SmartHydration threshold={2000} />
    </MyCustomProvider>
  </main>
</Layout>
