---
import { readFileSync } from "node:fs";
import { resolve } from "node:path";

const packageJsonPath = resolve(process.cwd(), "package.json");
const { version } = JSON.parse(readFileSync(packageJsonPath, "utf-8"));

const sysinfo = {
  packageVersion: version,
};
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sysinfo</title>
  </head>
  <body>
    <pre>{JSON.stringify(sysinfo, null, 2)}</pre>
  </body>
</html>